/commnetbase.txt
/sampleHelp.txt
/temp.txt
/pub.ps1
test/sample.txt
/src/.vs
/node_modules
/docs/files.md
/docs/index.md
integration/prime.ps1
/Debugscript.txt
.docs/files.md
.vs/slnx.sqlite
unit/results.xml
en-US/VSTeam-Help.xml
