/commnetbase.txt
/sampleHelp.txt
/temp.txt
/pub.ps1
test/sample.txt
/src/.vs
/node_modules
/docs/files.md
/docs/index.md
integration/prime.ps1
integration/test/test-results.xml
/Debugscript.txt
.docs/files.md
.vs/slnx.sqlite
unit/results.xml
en-US/VSTeam-Help.xml
Source/Classes/classes.ps1
Source/formats/formats.ps1xml
Source/types/vsteam.types.ps1xml
Source/formats/vsteam.format.ps1xml
Source/Public/vsteam.public.ps1
Source/Private/vsteam.private.ps1
Source/Classes/vsteam.classes.ps1
/dist
test-results.xml
coverage.xml
.editorconfig
.vscode/*
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
.gdn
vsteam_Linux_ps7_tests_result.xml
vsteam_wcore1903_ps5_tests_result.xml
vsteam_wcore1903_ps7_tests_result.xml
integration/fullRun.ps1
integration/Start-PSCountdown.ps1
integrationTest-results.xml
